@import url('https://fonts.googleapis.com/css?family=Quicksand');
*{
	margin: 0;
	padding: 0;

}
html , body{
	width: 100%;
	height: 100%;
	font-size: 14px;
	font-weight: normal;
	font-family: 'Quicksand', sans-serif;

}
.background{
	background-image: url(IMG-20170810-WA0004.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	overflow-y: auto;
	position: relative;
	width: 100%;
	height: 100%;


}

.background:before {
			content: '';
			/*background: rgba(200, 105, 163, 0.85);*/	
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}

.nav{
	width: 25%;
	height: auto;
		/*background-color: gray;*/
		position: absolute;
		top: 20%;
		left: 0;
		z-index: 123;
}
.nav a{
	text-decoration: none;
	font-size: 28px;
	font-family: verdana;
	font-weight: bold;
	/*width: 100%;*/
	height: 90px;
	display: inline-block;
	margin: 5px 0;
	float: left;
	background-color: black;
	color: white;
	line-height: 90px;
	text-align: center;
	transition: 300ms;
}
a.active{
	background-color: white;
	color: black;


}
a.active, .nav a:hover{
	background-color: white;
	color: black;
	width: 85%;

}
.a{
	width: 70%

}
.b{
	width: 70%
}
.c{
	width: 70%;
}
.d{
	width: 70%;
}
.e{
	width: 70%;
}
  .content{
  	width: 75%;
  	height: auto;
  	min-height: 540px;
  	/*background-color: red;*/
  	position: absolute;
  	right: 0;
  	top: 15%;

  }
.home{
	position: absolute;
	right: 0;
	bottom: -13px;
	color: white;
	font-family: verdana;
		text-shadow: 0 0 20px #ff005b;
		transform: translate(-5%,-5%);

}
.home:after
{
	content: attr(data-text);
	position: absolute;
	top:0;
	left: 0;
	padding: 0 20px;
	z-index: -1;
	color: #ff005b;
	filter: blur(25px); 
}
.home:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*background: #fe3a80;*/
	z-index: -2;
	opacity: 0.4;
	filter: blur(50px);
}
.home h1{
	font-size: 53px;
	padding-right: 12px;
	border-bottom: 1px solid white;
	text-transform: uppercase;
	
}
.home h3{
	font-size: 34px;
	padding: 5px 0;
	opacity: 4;
}
.aboutme{
	position: absolute;
	right: 0;
	bottom: -7px;
	color: black;
	font-family: verdana;
	padding: 0 60px;
	display: none;

}
.aboutme  h2{
	line-height: 30px;
	line-height: 80px;

}

.gallery{
	position: absolute;
	right: 0;
	bottom: -7px;
	color: black;
	top:0.5%;
	padding: 0 5px;
    display: none;


}
.gallery .image{
	margin: 4px;
	float: left;
	margin-top:6px;

}
   .image img{
   	transition: all ease 0.5s;
   	-webkit-transition: all ease 0.5s;
   	transform: scale(1);
   	-webkit-transform: scale(1);

   }

.image img:hover{
	transform: scale(1.2);
	-webkit-transform: scale(1.2);

}

h4{
	color: red;
	font-size: 85px;
	opacity:600;
	margin-bottom:12px;
}

.contactme{
	position: absolute;
	right: 0;
	top: 10px;
	color: black;
	padding-top: 0 60px;
	display: none;
}
.inputtext{
	width: 55%;
	height: 65px;
	border: 3px solid black;
	color: white;
	background-color: rgba(0,0,0,0.7);
	font-size: 20px;
	padding: 0 10px;
	float: left;
	margin-bottom: 15px;
}

.inputmessage{
	width: 55%;
	height: 135px;
	border: 3px solid black;
	color: white;
	background-color: rgba(0,0,0,0.7);
	font-size: 20px;
	padding: 0 10px;
	float: left;

}

.submitbutton{
	width: 160px;
	height: 65px;
	background-color: white;
	color: black;
	font-size: 20px;
	border: none;
	font-weight: bold;
	float: left;
	clear: both;
	margin-top: 25px;
}
/*
#dd{
	float: left;
	clear: both;
	font-weight: bold;
	font-size: 40px;
	color: white;
}
.manu
{
background-color: red;
width: 200px;
height: 200px;
position: absolute;
left: 600px;
top:300px;
}

.case{
	position: absolute;
	top: 830px;
	left: 230px;
	height: 50px;
	width: 260px;
	background-color: transparent;
}
.case a{
	background-color: black;
	position: absolute;
	top: 5px;
	color: white;
	padding: 10px 3px;
	font-weight: bold;
	font-size: 30px;
	text-decoration: none;
	text-transform: uppercase;
}
