*{
	margin: 0;
	padding:0;
}
.load{
	animation: slide 2s;

}
.slider{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
	animation: slide 40s infinite;

}
.content{
	color:#fff;
	width: 100%;
	height: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,0.5);


}
.principal{
	left: 50%;
	position: absolute;
	text-align: center;

	top: 50%;
	transform: translate(-50%,-50%);
	letter-spacing: 5px;

}

.principal h1{
	font-size: 70px;
	margin-bottom: 20px;
	border-bottom: 2px solid white;

}
.principal p{
	font-size: 20px;

}
@keyframes slide{
	0%{
		background-image: url(s1.jpg);
	}
	20%{
		background-image: url(s2.jpg);
	}
	30%{
		background-image: url(s3.jpg);
	}
	40%{
		background-image: url(s4.jpg);
	}
	50%{
		background-image: url(s5.jpg);
	}
	60%{
		background-image: url(s6.jpg);
	}
	70%{
		background-image: url(s7.jpg);
	}
	80%{
		background-image: url(s9.jpg);
	}
	90%{
		background-image: url(s10.jpg);
	}
	100%{
		background-image: url(s11.jpg);
	}

}
.nav{
	position: absolute;
	float: left;
	left: 25%;

}
.nav li{
	display: inline-block;
	padding: 20px;
	/*font-weight: bold;*/
	font-size: 30px;
}
.nav a{
	text-decoration: none;
	color: white;
}
a.active{
	background-color: transparent;
	border:1px solid white;

}
.nav a:hover{
	color: white;
	border: 1px solid white;
}
.aboutme{
	padding: 60px;
	background-color: powderblue;
	background-image: url(samarth.PNG);
	background-size: cover;
	height: 880px;

}
.aboutme h1{
	text-align: center;
	text-decoration: underline;
	color: darkblue;
	font-size: 70px;
}

.aboutme h2{
	color: green;
	/*z-index: 12344;*/

}
.aboutme p{
	color: #00FFFF;
	padding: 75px;
	font-size: 34px;
	/*z-index: 12300;*/
}
.skills{
	/*background-color: powderblue;*/
	background-size: cover;

	padding: 60px;
}


	.skills .image{
		margin: 20px;
		float: left;
		margin-top:6px;
		padding-left:60px;
		padding-top: 80px;
		/*border: 5px solid blue;*/


	}
	   .image img{
	   	transition: all ease 0.5s;
	   	-webkit-transition: all ease 0.5s;
	   	transform: scale(1);
	   	-webkit-transform: scale(1);
	   	border: 5px solid blue;


	   }

	.image img:hover{
		transform: scale(1.5);
		-webkit-transform: scale(1.5);

	}

.skills h4{
	font-size: 70px;
	text-decoration: underline;
	text-align: center;
	color: blue;

	/*background-color: white;*/
}

.contactme{
		position: absolute;
		top: 4200px;
		color: black;
		background-color: #B6B6B4;
		/*padding-top: 0 60px;*/
		background-size: cover;
		padding-left: 200px;
		width: 80%;
		height: 200%;
		
	}
	.inputtext{
		width: 55%;
		height: 65px;
		border: 3px solid black;
		color: white;
		background-color: rgba(0,0,0,0.7);
		font-size: 20px;
		padding: 0 10px;
		float: left;
		margin-bottom: 15px;
	}

	.inputmessage{
		width: 55%;
		height: 135px;
		border: 3px solid black;
		color: white;
		background-color: rgba(0,0,0,0.7);
		font-size: 20px;
		padding: 0 10px;
		float: left;

	}

	.submitbutton{
		width: 160px;
		height: 65px;
		background-color: white;
		color: black;
		font-size: 20px;
		border: none;
		font-weight: bold;
		float: left;
		clear: both;
		margin-top: 45px;
	}

	.contactme h1{
		font-size: 90px;
		padding: 90px;
		text-align: left;
		padding-left: 0px;
	}
	.contactme h2{
		color: red;
		position: absolute;
		top: 810px;
		font-size: 40px;
	}
.manu a{
		
		text-decoration: none;
		font-size: 28px;
		font-family: verdana;
		font-weight: bold;
		width: 400px;
		height: 90px;
		/*display: inline-block;*/
		margin: 5px 0;
		float: left;
		top: 4100px;
		position: absolute;
		left: 280px;
		background-color: black;
		color: white;
		line-height: 90px;
		text-align: center;
		transition: 300ms;
	
		/*margin-top: 30px;*/
	}

	.manu a:hover{
		color: white;
		transition: 300ms;
		/*transform: 300ms;*/
		width: 550px;
		background-color: blue;

	}
